<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Tere, {{kasutajanimi}}</h1>
        <a href="/logout">Logi välja</a>
        
        <table>
            <thead>
                <th>Saatja</th>
                <th>Saaja</th>
                <th>Summa</th>

            </thead>
            {% for ylekanne in ylekanded%}
            <tr>
                <td>{{ ylekanne.saatja }}</td>
                <td>{{ ylekanne.saaja }}</td>
                <td>{{ ylekanne.summa }}</td>
            </tr>

            {% endfor %}
        </table>
        <p> Sinu võlgnevus on {{volgnevus}} $ </p>
        <style>
            th, td{
                outline: 2px solid blue;
            }
        </style>
    </body>
</html>